<article class='post'> 
<div class='post__text'>
  <%= image_tag @post.image.to_s, class: 'img-responsive' %>

  <h1><%= @post.title %></h1>
  <h2><%= @post.author %></h2>
  <p><%= simple_format @post.content %></p>

  <div class='post__button'>
    <%= link_to 'Edit', edit_post_path(@post) , class:'navbar-newpost pull-left'%>
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Do you wanna delete this post?' } , class:'navbar-newpost pull-right'%>
  </div>
</div>
</article>
